# Run variables
MASKBENCH_CONFIG_FILE=envision_gesture_challenge.yml # You can copy the config file and adapt it for your specific use case

# Assets directories - Only change if you want to store datasets, output or weights in a different directory or drive
MASKBENCH_DATASET_DIR=./assets/datasets
MASKBENCH_OUTPUT_DIR=./assets/output
