# Run variables
MASKBENCH_CONFIG_FILE=getting-started.yml # You can copy the config file and adapt it for your specific use case
MASKBENCH_GPU_ID=0                  # Set the GPU ID to use, e.g., 0, 1, 2, etc. If you want to use all GPUs, set it to "all".

# Assets directories - Only change if you want to store datasets, output or weights in a different directory or drive
MASKBENCH_DATASET_DIR=./assets/datasets
MASKBENCH_OUTPUT_DIR=./assets/output
MASKBENCH_WEIGHTS_DIR=./assets/weights

# Other variables
MASK_ANYONE_VERSION=0.3.5