services:
    runner:
        container_name: ${USER}_maskbench_dev
        build: .                
        env_file: 
          - .env
        depends_on:
          - openpose
          - sam2
          - maskanyone_api
        volumes:
          - ./src:/src          
          - ./poetry.lock:/poetry.lock 
          - ./pyproject.toml:/pyproject.toml
          - ./config:/config
          - ${MASKBENCH_WEIGHTS_DIR}:/weights/user_weights
          - ${MASKBENCH_DATASET_DIR}:/datasets  
          - ${MASKBENCH_OUTPUT_DIR}:/output
        tty: true              # Keep the container running interactively
        stdin_open: true
        deploy:
          resources:
            reservations:
              devices:
                - driver: nvidia
                  device_ids: ["${MASKBENCH_GPU_ID_1:-0}"]
                  capabilities: [ gpu ]
    
    openpose:
      image: ghcr.io/maskanyone/maskanyone/openpose:${MASK_ANYONE_VERSION}
      restart: on-failure
      environment:
        OPENPOSE_MODEL_DIR: "/workspace/openpose/models"
        OPENPOSE_PORT: ${OPENPOSE_PORT:-8000}
        OPENPOSE_HOST: ${OPENPOSE_HOST:-openpose}
      deploy:
        resources:
          reservations:
            devices:
              - driver: nvidia
                device_ids: ["${MASKBENCH_GPU_ID_2:-0}"]
                capabilities: [ gpu ]
    
    sam2:
      image: ghcr.io/maskanyone/maskanyone/sam2:${MASK_ANYONE_VERSION}
      restart: on-failure
      environment:
        SAM2_OFFLOAD_VIDEO_TO_CPU: false
        SAM2_OFFLOAD_STATE_TO_CPU: false
        SAM2_PORT: ${SAM2_PORT:-8000}
        SAM2_HOST: ${SAM2_HOST:-sam2}
      deploy:
        resources:
          reservations:
            devices:
              - driver: nvidia
                device_ids: ["${MASKBENCH_GPU_ID_3:-0}"]
                capabilities: [ gpu ]
  
    maskanyone_api:
      image: ghcr.io/maskanyone/maskanyone/api:${MASK_ANYONE_VERSION}
      restart: on-failure
      environment:
        WORKER_PORT: ${WORKER_PORT:-8000}
        WORKER_HOST: ${WORKER_HOST:-maskanyone_api}
      deploy:
        resources:
          reservations:
            devices:
              - driver: nvidia
                device_ids: ["${MASKBENCH_GPU_ID_3:-0}"]
                capabilities: [ gpu ]

