name: Build and Push Docker Image

on:
  push:
    branches:
      - main
    paths:
      - 'Dockerfile'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'src/**'
      - '.github/workflows/maskbench-docker-publish.yml'
  workflow_dispatch:  # Manual trigger option

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USER_NAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKER_HUB_USER_NAME }}/maskbench_runner:latest
            ${{ secrets.DOCKER_HUB_USER_NAME }}/maskbench_runner:${{ github.sha }}
          cache-from: type=registry,ref=${{ secrets.DOCKER_HUB_USER_NAME }}/maskbench_runner:buildcache
          cache-to: type=registry,ref=${{ secrets.DOCKER_HUB_USER_NAME }}/maskbench_runner:buildcache,mode=max
